.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 28px;
}

.switch__box {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgba(126, 126, 126, 1);
  background-color: rgb(254, 251, 251);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 34px;
}

.switch__slider:before {
  content: "";

  height: 28px;
  width: 28px;
  left: -24px;

  background-color: black;
  transition: 0.4s;
  border-radius: 50%;
  z-index: 2;
}

.switch__label {
  position: absolute;
  margin: 0 10px;
  z-index: 3;
}

.switch__label__celsius {
  left: 50%;
  color: white;
}

.switch__label__fahrenheit {
  left: 0;
  color: white;
}

.switch__box:checked ~ .switch__slider {
  background-color: #f3f3f3;
}

.switch__box:checked ~ .switch__slider:before {
  transform: translateX(30px);
}

.switch__label--inactive {
  color: grey;
}
