/* .clothes__section-container {
  width: 1015px;
  height: 676px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}

.clothes__section-container .card__container {
  width: 323px;
  height: 326px;
}

.clothes__section-bar {
  display: flex;
  gap: 10px;
  align-items: center;
}

.clothes__section-add {
  width: 85px;
  height: 25px;
  border: none;
} */
/* .clothes__section-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(323px, 1fr));
  gap: 20px;
  width: 100%;
  padding-left: 0;
}

.clothes__section-container .card__container {
  width: 100%;
  height: 326px;
}

.clothes__section-bar {
  display: flex;
  gap: 10px;
  align-items: center;
}

.clothes__section-add {
  width: 85px;
  height: 25px;
  border: none;
} */
/* .clothes__section-container {
  display: grid;
  gap: 20px;
  width: 100%;
  padding-left: 0;
}

.clothes__section-container--3 {
  grid-template-columns: repeat(3, 1fr);
}

.clothes__section-container--4 {
  grid-template-columns: repeat(4, 1fr);
}

.clothes__section-container .card__container {
  width: 100%;
  height: 326px;
}

.clothes__section-bar {
  display: flex;
  gap: 10px;
  align-items: center;
}

.clothes__section-add {
  width: 85px;
  height: 25px;
  border: none;
} */
.clothes__section-container {
  display: grid;
  gap: 20px;
  width: 100%;
  padding-left: 0;
}

.clothes__section-container--3 {
  grid-template-columns: repeat(3, 1fr);
}

.clothes__section-container--4 {
  grid-template-columns: repeat(4, 1fr);
}

.clothes__section-container .card__container {
  width: 100%;
  height: 326px;
}

.clothes__section-bar {
  display: flex;
  gap: 10px;
  align-items: center;
}

.clothes__section-add {
  width: 85px;
  height: 25px;
  border: none;
}
