.main {
  display: flex;

  flex-direction: column;
  align-content: center;
  background: #f3f3f3;
  /* width: 1440px; */
  width: 1360px;
  min-height: 822px;
  gap: 0 20px;
  background-color: #f3f3f3;
  /* padding: 0 20px; */
  position: relative;
}
