.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: darkred; */
  width: 1360px;
  min-height: 60px;
  top: 32px;
  left: 40px;
  /* padding: 0 20px; */
  align-items: center;
}

.header__section-left {
  display: flex;
  /* flex-direction: row; */
  gap: 20px;
  align-items: center;
}

.header__logo {
  width: 89px;
  height: 40px;
}

.header__date-location {
  line-height: 24px;
  size: 20px;
  width: 160px;
  height: 24px;
}

.header__section-right {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.header__link {
  text-decoration: none;
  color: black;
}
.header__switch {
  width: 56px;
  height: 28px;
  top: 6px;
  left: 939px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s 0.5s;
  /* position: absolute; */
}

.header__temp-switch:hover .header__switch {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.header__temp-switch-content {
  width: 56px;
  height: 28px;
  border-radius: 20px;
  border: 2px solid #7e7e7e;
}
.header__temp-switch-content-button {
  size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  width: 28px;
  height: 28px;
  border-radius: 20px;
  background: #ffffff;
  opacity: 0.8;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.header__temp-switch-content-button:hover {
  opacity: 0.4;
  cursor: pointer;
}

.header__temp-celsius {
  size: 14px;
  left: 28px;
}

.header__temp-farenheit {
  size: 14px;
  background: #ffffff;
}

.header__right-container {
  display: flex;
  flex-direction: row;
  width: 293px;
  height: 25px;
  gap: 20px;
  align-items: center;
}

.header__add-clothes {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  border: none;
  width: 116px;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
}

.header__avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
